header.page-header
  h1 Tasks
    small: span.glyphicon.glyphicon-ok.ico.green

if (userData && currentTask)
  h2.text-muted My Tasks
  table.table.table-hover.table-responsive.tasks-table
    thead
      tr
        th #
        th Task
        th &nbsp;
    tbody
      tr
        td #{userData.currentTaskId}
        td <strong>#{currentTask.title}</strong>
          p #{currentTask.description}
        td.text-right
            a(href="/task/cancel/#{userData.currentTaskId}") cancel
            &nbsp;
            a.btn.btn-primary(href="/task/complete/#{userData.currentTaskId}") Done! 
            span.glyphicon.glyphicon-ok.ico

h2.text-muted All Tasks
table.table.table-hover.table-responsive.tasks-table
  thead
    tr
      th #
      th Task
      th.text-right Time

  tbody
    - each task, index in tasks
      tr
        th= index+1
        td
          a(href="/task/take/#{task.id}"): b= task.title
          p= task.description
        td.text-right: small= task.time

  //
    form.form-inline(name="input", action="", method="GET", role="form")
      div.form-group
        label.sr-only(for="user_id"): p User name
        input#user_id.form-control(type="text", placeholder="User name", value="#{user_id}")

        if user_id && task_id
          p current task: #{task_id} #{task_title}
