header.page-header
  h1 Tasks
    small: span.glyphicon.glyphicon-ok.ico.green

if (userData && currentTask)
  h2.text-muted My Tasks
  table.table.table-hover.table-responsive.tasks-table
    thead
      tr
        th #
        th Task
        th &nbsp;
    tbody
      tr
        th #{userData.currentTaskId}
        td
          a(href="/task/view/#{userData.currentTaskId}"): b= currentTask.title
          p #{currentTask.description}
        td.text-right
          if (userData.currentTaskComplete == 0)
            a.btn.btn-link.btn-sm(href="/task/cancel/#{userData.currentTaskId}")
              span.glyphicon.glyphicon-remove
              | &nbsp;Cancel
            &nbsp;
            a.btn.btn-success.btn-sm(href="/task/complete/#{userData.currentTaskId}")
              span.glyphicon.glyphicon-ok
              | &nbsp;Done!
          else
            p Completed
              span.glyphicon.glyphicon-ok.ico

h2.text-muted All Tasks
table.table.table-hover.table-responsive.tasks-table
  thead
    tr
      th #
      th Task
      th.text-right Time

  tbody
    - each task, index in tasks
      tr
        th= index+1
        td
          a(href="/task/take/#{task.id}"): b= task.title
          p= task.description
        td.text-right: small= task.time
