header.page-header
  h1 Tasks
    small.glyphicon.glyphicon-ok.ico.text-success

if (userData && userData.currentTasks)
  h2.text-muted My Tasks
  table.table.table-hover.table-responsive.tasks-table
    thead
      tr
        th #
        th Task
        th &nbsp;
    tbody
      each currentTask in userData.currentTasks
        - var task = tasks[currentTask.id]
        tr
          th #{task.id}
          td
            a(href="/task/view/#{task.id}"): b= task.title
            p #{task.description}
          td.text-right
            if (currentTask.status == "taken")
              a.btn.btn-link.btn-sm(href="/task/cancel/#{task.id}")
                span.glyphicon.glyphicon-remove
                | &nbsp;Abandon
              &nbsp;
              a.btn.btn-success.btn-sm(href="/task/complete/#{task.id}")
                span.glyphicon.glyphicon-ok
                | &nbsp;Submit for Review!
            else
              p.text-success In Review
                span.glyphicon.glyphicon-ok.ico

h2.text-muted All Tasks
table.table.table-hover.table-responsive.tasks-table
  thead
    tr
      th #
      th Task
      th.text-right Time

  tbody
    - each task, index in tasks
      if task 
      tr
        th= index+1
        td
          a(href="/task/take/#{task.id}"): b= task.title
          p= task.description
        td.text-right: small= task.time
