extends layout

block content

  table.table.table-hover.table-condensed.table-responsive
    thead
      tr
        th #
        th Task
        th.text-right Time

    input(id='user_tf', type='text', value='#{user}')
    if user && task_id
      p current task: #{task_id} #{task_title}

    tbody
      - each task in tasks
        tr
          th= task.id
          td
            a(href="?user=ed&task_id=#{task.id}")= task.title
          td.text-right
            small= task.time
