extends layout

block content

  form.form-inline(name="input", action="", method="GET", role="form")
    div.form-group
      label.sr-only(for="user")
        p User name
      input#user.form-control(type="text", placeholder="User name", value="#{user}")

      if user && task_id
        p current task: #{task_id} #{task_title}

  table.table.table-hover.table-condensed.table-responsive
    thead
      tr
        th #
        th Task
        th.text-right Time

    tbody
      - each task in tasks
        tr
          th= task.id
          td
            a(href="?user=ed&task_id=#{task.id}")= task.title
          td.text-right
            small= task.time
