extends layout

block content
 form.form-horizontal(action="/task/comment", method="POST", role="form")

   div.form-group
     label.control-label.col-lg-2 Title: #{task.title}

   div.form-group
     label.control-label.col-lg-2 Description:
     textarea.form-control(rows='20', name="description")  #{task.description}

  div.form-group
     label.control-label.col-lg-2 Requirements:  #{task.requirements}

  div.form-group
     label.control-label.col-lg-2 Interests:  #{task.interests}

  div.form-group
      label.control-label.col-lg-2 Time To Complete:  #{task.time}

  if (task.urls)
    div.form-group
        label.control-label.col-lg-2 Relevent Links:
        each url in task.urls
          p
          a(href=url) #{url}

   div.form-group
      label.control-label.col-lg-2 Order:  #{task.order}

