extends layout

block content
  h1 Task - #{task.title}

    table.table.table-hover.table-responsive.tasks-table
      thead
        tr
          th Field
          th Value
      tbody
        tr
          td Task id:
          td #{task.id}
        tr 
          td Description:
          td p #{task.description}
        tr
          td Requirements: 
          td p #{task.requirements}
        tr 
          td Time To Complete: 
          td #{task.time}
        tr 
          td Type: 
          td #{task.type}
        tr 
          td Order:
          td #{task.order}
